.square-field {
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: transparent;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    margin-top: -1px;
    margin-right: -1px;
}